*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
body{
  background: #F7F6FF;
}
button{
  border: none;
  cursor: pointer;
}
input{
  border:none;
}