@media(max-width:1140px){
  .container{
    width:1140px;
  }
}
@media(max-width:1200px){

  .container{
    width:1140px;
  }
}
@media(max-width:1024px){
  .container{
    max-width: 1024px;
  }
}
@media(max-width:992px){
  .container{
    max-width:992px;
  }
}
@media(max-width:768px){
  .container{
    max-width:768px;
  }
}
@media(max-width:576px){
  .container {
    max-width: 451px;
  }
}
@media(max-width:451px){
  .container{
    max-width:451px;
  }
}
@media(max-width:400px){
  .container{
    width:90%;
  }
}
@media(max-width:376px){
  .container{
    width:90%;
  }
}
@media(max-width:320px){
  .container{
    max-width:320px;
    flex-wrap: wrap;
    button{
      align-items: center;
      justify-content: center;
    }
  }
}
