@mixin fle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 90px 0;
}
@mixin flexbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@mixin bac{
  background: #ffffff;
  padding: 8px 0;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}
@mixin flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@mixin p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 28px 0;
}
@mixin ppp{
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #333333;
}
@mixin h1{
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
  padding: 30px 0;
}
@mixin h2{
  font-weight: 300;
  font-size: 60px;
  color: #333333;
}
@mixin h3{
  font-weight: 800;
  font-size: 50px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin h5{
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  color: #333333;
  margin-left:70px;
  margin-bottom: 10px;
}
@mixin a{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 0 15px;
}
@mixin button{
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(115.11deg,
          #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  color: #FFFFFF;
  border:none;
  padding: 17px 35px;
  transition: 0.4s;
  &:hover{
    background: #77B2D3;
    color: #FFF;transition: 0.4s;
    border-radius: 5px;
    box-shadow: 0 0 5px #77B2D3, 0 0 50px #77B2D3,0 0 100px #77B2D3;
  }
}
@mixin btn{
  background: $fr;
  border-radius: 250px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.4s;
  line-height: 26px;
  color: #FFFFFF;
  &:hover{
    background: #F32C6D;
    color: #FFF;
    border-radius: 250px;
    box-shadow: 0 0 5px #F32C6D, 0 0 50px #F32C6D,0 0 100px #F32C6D;
  }
}
@mixin start{
  padding: 50px 0;
  border-radius: 20px ;
  background: #FFFFFF;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  text-align: start;
}
@mixin dog{
  display: flex;
  align-items: start;
  justify-content: space-around;
}
@mixin do{
  display: flex;
  align-items: start;
  padding-top: 20px;
  margin-left: 20px;
}
@mixin pp{
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
@mixin klo{
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  padding: 20px 0;
}
@mixin kl{
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin-left: 20px;
  padding-top: 20px ;
}
@mixin in{
  padding: 14px 40px;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
  border: none;
  border-radius: 7px;
  margin-right: 1px;
}
@mixin input{
  padding: 70px 181px;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
  margin-top: 20px;
  border: none;
}
@mixin foot{
  background: #FFFFFF;
  padding: 70px 0;
}
@mixin h44{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: blue;
  padding: 10px 0;
}
@mixin h66{
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}
@mixin h6{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@mixin h4{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@mixin qw{
  background: #2D2D2D;
  padding: 10px 0;
}
@mixin cc{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin lk{
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}